.place__paragraph {
  grid-area: paragraph;
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  font-weight: 400;
  padding: 0;
}

.place__paragraph:last-child {
  margin-bottom: 0;
 }

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
    padding: 0 16px;
  }
}
