.cover {
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 0 auto;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    width: 100%;
  }
}
