.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  margin: 0 0 32px;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    margin: 0 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
