.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  margin: 0 0 32px;
  padding: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
