.place {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "title url"
    "title link"
    "image paragraph"
    "image paragraph";
  padding-bottom: 80px;
  column-gap: 40px;
  row-gap: 48px;
  margin: 0 auto;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    padding-bottom: 73px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding-bottom: 50px;
    row-gap: 32px;
    grid-template-columns: repeat(1, auto);
    grid-template-areas:
    "title"
    "url"
    "link"
    "image"
    "paragraph";
  }
}
