.footer {
  width: calc(100% - 48px * 2);
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 24px * 2);
    margin: 88px auto 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 24px * 2);
    margin: 64px 0 48px 16px;
  }
}
