.place__url-heading {
  grid-area: url;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #aaa;
  letter-spacing: 2px;
  margin: 0 0 12px;
  justify-self: start;
  align-self: end;
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    margin-left: 16px;
  }
}
