.place__url-heading {
  grid-area: url;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #aaa;
  letter-spacing: 2px;
  margin: 0 0 34px;
  padding: 0;
  align-self: end;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    margin-left: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
